#db-main-navbar {
  background: #333;
  color: #fff;
  font-size: 1.6em; }

.db-home-inner {
  position: relative;
  top: 150px; }

#db-home-section {
  background: url(../img/josh-nuttall-286507-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  color: orangered; }

.db-dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7); }
